* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url("/Wallpaper.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.pointer {
    cursor: pointer;
}

.background {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(15px);

    color: white;
}

.invert {
    background-color: transparent;
    border: none;
    filter: invert(1);
}

header {
    width: full;
    text-align: center;
    margin: 2px 5px 5px 5px;

}

h1 {
    margin: 10px auto;
    font-weight: bolder;
    font-size: 30px;
    color: rgba(14, 14, 14);
}

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28vw;
    margin: 0 5px;

}

.playlist {
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    color: rgba(14, 14, 14);
    font-weight: 700;
    font-size: 16px;
    width: 27vw;
    height: 60px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs {
    display: flex;
    height: 100%;
    overflow-y: auto;
    margin: 5px;
}

.nosongs {
    font-weight: 600;
    font-size: 33px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.55);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 5px;
}

.right {
    width: 71vw;
    margin: 0 5px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
}

.playbar {
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songname {
    margin-left: 16px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}

button {
    background: transparent;
    border: none;
}

.controls {
    display: flex;
    flex-direction: column;
}

.time-control {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.volume {
    display: flex;
    gap: 4px;
    accent-color: red;
    margin-right: 13px;
    justify-content: center;
    align-items: center;
}

.timestart {
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
}

.timeend {
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}

#seekbar-input {
    width: 500px;
}