@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family:'Martel Sans',"Poppins", serif;
  font-weight: 400;
  font-style: normal;

}

nav{
    margin-top: 10px;
    display: flex;

    width: 75vw;
    height: 85px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.logo{
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.main{
    height: 644px;
    background-image: url("assets/image/bg.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2000px, 100%);
}

.box{
       display:flex;
       justify-content: center;
       align-items: center;
       height: 644px;
       width: 100%;
       opacity: 0.69;
       background-color: black;
       position:absolute;
       top: 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.language{
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.491);
        color: white;
        border: 0.3px solid gray;
        border-radius: 4px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 121px;
        padding: 3px;
}
#arrow{
    transition: 0.5s;
}

#arrow:hover{
    rotate: 180deg;
}

.signin{
    color: white;
    background-color: red;
    border: 2px;
    padding: 4px 12px 2px 12px;
    border-radius: 4px;
    font-weight: bolder;
}

.title{
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
}

.span{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;

}

.span1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size:56px;
    line-height: 125%;

}

.span2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size:20px;
    line-height: 400%;
}

.span3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.input1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input1 .input{
    /* margin: 13px; */
    padding: 15px 200px 15px 10px;
    background-color: rgba(0, 0, 0, 0.687);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;
    color: white;
    margin: 13px;
   align-items: baseline;
   position: relative;
    z-index: 10;

}

.input1 .input::placeholder{
    color: rgb(164, 164, 164);
    align-self: left;
    font-size: 16px;

}

.start{
    padding: 8px 31px 7px 12px;

    background-color: rgb(229, 9, 20);
    border: 2px;
    border-radius: 3px;
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: baseline;
    justify-content:right;
}
.start span{
    font-weight: bold;
    font-size: 24px;
}

.start img{
    rotate: 270deg;
}